.c-header > p:first-child {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 0.5rem;
  letter-spacing: -0.015em;
}

.c-header > * + * {
  display: block;
  margin-top: 1rem;
}

.font-500 {
  font-weight: 500;
}
