.container > * {
  display: block;
  margin: 0;
}

.container > * + * {
  margin-top: 1rem;
}

.headline {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 0.5rem;
  letter-spacing: -0.015em;
}

.tagline {
  font-size: 1.2rem;
  color: var(--ifm-color-gray-700);
}

[data-theme="dark"] .tagline {
  color: var(--ifm-color-gray-300);
}

.btn {
  --btn-color: var(--ifm-color-white);
  --btn-bg-color: var(--ifm-color-gray-900);
  --btn-bg-color-hover: var(--ifm-color-gray-800);
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  transition: 250ms ease;
  transition-property: color, background-color;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  outline: none;
  width: auto;
  line-height: 1.2;
  border-radius: 0.375rem;
  font-weight: 600;
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
}

.btn.btn {
  text-decoration: none;
}

.btn:hover {
  color: var(--btn-color);
  background-color: var(--btn-bg-color-hover);
}

.btn:focus {
  z-index: 1;
  box-shadow: 0 0 0 3px rgb(66 153 225 / 60%);
}

[data-theme="dark"] .btn {
  --btn-bg-color: var(--ifm-color-gray-800);
  --btn-bg-color-hover: var(--ifm-color-gray-700);
}
