.container {
  margin-bottom: 2.5rem;
}

.container > * {
  display: block;
  margin: 0;
}

.container > * + * {
  margin-top: 1rem;
}

.headline {
  line-height: 2.5rem;
  max-width: 24ch;
}

.tagline {
  font-size: 1.2rem;
}
