---
import { cx } from "class-variance-authority";
import { getPlaiceholder } from "plaiceholder";
import { imageList, imageListItem } from "@plaiceholder/ui";
import { config } from "../../config";
import Layout from "../../layouts/Layout.astro";
import { getAllUnsplashImagePaths } from "../../lib/images";

const title = config.examples.pages.css.title;
const heading = config.examples.variants.multiple.title;

const images = await Promise.all(
  getAllUnsplashImagePaths().map(async (src) => {
    const { css, img } = await getPlaiceholder(src);

    return {
      css,
      img,
    };
  })
).then((values) => values);
---

<Layout variant="example" title={title} heading={heading}>
  <ul role="list" class={imageList({ columns: 3, aspect: "5/7" })}>
    {
      images.map(({ css, img }) => (
        <li class={imageListItem()}>
          <div
            aria-hidden
            style={css}
            class={cx(
              "absolute",
              "inset-0",
              "w-full",
              "h-full",
              "transform",
              "scale-150",
              "filter",
              "blur-2xl",
              "z-[-1]"
            )}
          />
          <img {...img} />
        </li>
      ))
    }
  </ul>
</Layout>
