---
import { Image } from "astro:assets";
import { cx } from "class-variance-authority";
import { getPlaiceholder } from "plaiceholder";
import { imageList, imageListItem } from "@plaiceholder/ui";
import { config } from "@/config";
import Layout from "@/layouts/Layout.astro";

const title = config.examples.pages.css.title;
const heading = config.examples.variants.single.title;

const getRemoteImageWithPlaiceholder = async (src: string) => {
  const buffer = await fetch(src).then(async (res) =>
    Buffer.from(await res.arrayBuffer())
  );

  const {
    metadata: { height, width },
    ...plaiceholder
  } = await getPlaiceholder(buffer, { size: 10 });

  return { ...plaiceholder, img: { src, height, width } };
};

const { css, img } = await getRemoteImageWithPlaiceholder(
  "https://images.unsplash.com/photo-1621961458348-f013d219b50c?auto=format&fit=crop&w=2850&q=80"
);
---

<Layout variant="example" title={title} heading={heading}>
  <ul role="list" class={imageList({ columns: 2 })}>
    <li class={imageListItem()}>
      <div
        aria-hidden
        style={css}
        class={cx(
          "absolute",
          "inset-0",
          "w-full",
          "h-full",
          "transform",
          "scale-150",
          "filter",
          "blur-2xl",
          "z-[-1]"
        )}
      >
      </div>
      <Image
        {...img}
        alt="Snowy mountain peaks"
        title="Photo from Unsplash"
        format="jpeg"
      />
    </li>
  </ul>
</Layout>
