name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pnpm:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        script: [lint, build]

    steps:
      - uses: actions/checkout@v3
      - name: Read .nvmrc
        run: echo ::set-output name=NVMRC::$(cat .nvmrc)
        id: nvm
      - uses: pnpm/action-setup@v2
        with:
          version: 6.32.19
      - uses: actions/setup-node@v3
        with:
          node-version: "${{ steps.nvm.outputs.NVMRC }}"
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - name: ${{ matrix.script }}
        run: pnpm ${{ matrix.script }}
